.newUserCard{
    margin-top: 10vh;
    background-color: whitesmoke;
    min-width: 400px;
    text-align: center;
    border-radius: 10px;
    min-height: 500px;
    box-shadow:5px 5px 5px black;
    display:grid;
    grid-template-columns: auto;
    padding-inline-start: 10px;
    padding-inline-end:10px;
}
.newUserCard input{
    max-height: 38px;
    border-radius: 5px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}
.currentUserCard{
    margin-top: 10vh;
    background-color: whitesmoke;
    min-width: 400px;
    text-align: center;
    border-radius: 10px;
    min-height: 500px;
    box-shadow:5px 5px 5px black;
    display:grid;
    grid-template-columns: auto;
    padding-inline-start: 10px;
    padding-inline-end:10px;
}
.submit{
    max-height: 40px;
    width:200px;
    justify-self:center;
    background-color: rgba(218, 255, 218, 0.39);
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    cursor: pointer;
}
.container{
    width:inherit;
    display:grid;
    justify-content: center;
}

